.task-class {
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.144);
    border-radius: 10px;
    width: 60%;
    cursor: pointer;
}

.del-btn {
    float: right;
}

.reminder {
    border-left: 10px solid green;
}